<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline'">
    <title>Cadastro de Pedidos</title>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/style.css">

</head>

<body>
  <div class="container my-3">
    <div class="card shadow-lg">
      <div class="card-header bg-primary text-light">
        <h3 class="text-center m-0">Cadastro de Pedidos</h3>
      </div>
      <div class="card-body">
        <form id="form">
          <div class="row g-3">
            <input class="form-control d-none" id="inputIdPedido" type="text">
            <div class="col-md-8">
                <input type="text" class="form-control" id="barraBuscar" maxlength="30" spellcheck="false" placeholder="Buscar pedido">
            </div>
            <div class="col-md-4 mb-4">
                <button type="button" class="btn btn-primary" id="btnRead" onclick="buscarPedido()">Buscar</button>
            </div>

            <div class="col-md-6">
              <label for="dataPedido" class="form-label">Data do Pedido:</label>
              <input type="date" class="form-control" id="dataPedido" required>
            </div>

            <div class="col-md-6">
              <label for="cliente" class="form-label">Cliente:</label>
              <input type="text" class="form-control" id="cliente" required>
            </div>

            <div class="col-md-6">
              <label for="telefone" class="form-label">Telefone:</label>
              <input type="tel" class="form-control" id="telefone" required>
            </div>

            <div class="col-md-6">
              <label for="endereco" class="form-label">Endereço Completo:</label>
              <input type="text" class="form-control" id="endereco">
            </div>

            <div class="col-md-6">
              <label for="produto" class="form-label">Produto:</label>
              <input type="text" class="form-control" id="produto" required>
            </div>

            <div class="col-md-6">
              <label for="referencia" class="form-label">CPF:</label>
              <input type="text" class="form-control" id="cpf" onblur="validarCPF()">
              <p id="cpfErro" class="text-danger small mt-1"></p>
            </div>

            <div class="col-md-6">
                <label for="fio" class="form-label">Fio:</label>
                <input type="text" class="form-control" id="fio" required>
            </div>

            <div class="col-md-6">
                <label for="referencia" class="form-label">Referência:</label>
                <input type="text" class="form-control" id="referencia" placeholder="Link ou descrição">
            </div>

            <div class="col-12">
              <label for="especificacoes" class="form-label">Preferências:</label>
              <textarea class="form-control" id="preferencia" rows="3" placeholder="Tamanho, pontos, acabamento, acessórios, cores..."></textarea>
            </div>

            <div class="col-md-6">
              <label for="quantidade" class="form-label">Quantidade:</label>
              <input type="number" class="form-control" id="quantidade" min="1" required>
            </div>

            <div class="col-md-6">
              <label for="prazo" class="form-label">Prazo:</label>
              <input type="date" class="form-control" id="prazo" required>
            </div>

            <div class="col-md-6">
              <label for="valorTotal" class="form-label">Valor Total (R$):</label>
              <input type="number" class="form-control" id="valorTotal" step="0.01" required>
            </div>

            <div class="col-md-6 d-flex justify-content-left mt-4">
                <button id="btnCreate" type="submit" class="btn btn-success fw-bold">Cadastrar</button>
                <button id="btnUpdate" type="submit" class="btn btn-warning fw-bold ml-2">Editar</button>
                <button id="btnDelete" type="button" class="btn btn-danger fw-bold ml-2" onclick="removePedido()">Excluir</button>
                <button id="btnReset" type="reset" class="btn btn-info fw-bold ml-2" onclick="resetForm()">Limpar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <footer class="bg-light text-dark"> <!---#343A40-->
    <p id="dataAtual"></p>
    <img id="icondb" src="../public/img/dbon.png" alt="icone banco de dados">
  </footer>

  <script src="renderer.js"></script>
</body>
</html>
