<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline'">
    <title>Home</title>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/style.css">

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>

<body>
    <h1 class="text-center my-3">Home</h1>

    <div class="mt-5">
        <div class="d-flex justify-content-center">
            <div class="mx-3 card container d-flex justify-content-center align-items-center py-2 px-3 my-xs-5" style="width: 18rem; max-height: 22rem;">
                <img class="my-3 card-img-top img-tamanho-card" src="../public/img/icone_cadastro.png" alt="icone de cadastro de pedidos">
                <div class="card-body">
                    <a href="cadastropedidos.html" class="btn btn-primary">Cadastrar Pedidos</a>
                </div>
            </div>
        
            <div class="mx-3 card container d-flex justify-content-center align-items-center py-2 px-3 my-xs-5" style="width: 18rem; max-height: 22rem;">
                <img class="my-3 card-img-top img-tamanho-card" src="../public/img/icone_pedidos.png" alt="icone de pedidos">
                <div class="card-body">
                    <a href="pedidos.html" class="btn btn-primary">Pedidos</a>
                </div>
            </div>
        </div>
    </div>

    <footer class="bg-light text-dark">
        <p id="dataAtual"></p>
        <img id="icondb" src="../public/img/dboff.png" alt="icone banco de dados">
    </footer>

    <script src="renderer.js"></script>
</body>

</html>